.search-field {
  display: flex;
  flex-direction: column;
  width: 740px;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 50px;

  &__title {
    font-size: 70px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: lighter;
  }
}

.search-form {
  display: flex;
  position: relative;

  &__icon {
    position: absolute;
    top: 28px;
    left: 10px;
    font-size: 24px;
  }

  &__input {
    height: 80px;
    font-size: 24px;
    flex-grow: 1;
    border: none;
    border-radius: 2px;
    padding-left: 50px;
    outline: none;
  }

  &__btn {
    width: 200px;
    height: 80px;
    border-top-right-radius: 40px;
  }
}
